<div class="container p-2">
    <h1 class="text-center pb-1 mt-3">My Cart</h1>
    <h2 class="text-center" id="userEmail" data-cartid="{{cartID}}">Email: {{email}}</h2>
    <div class="text-center" id="boxProductsCart">
        {{#if productsCart}}
        {{#each productsCart}}
        <div>
            <h3 class="p-1">{{this.title}} : Quantity - {{this.quantity}}</h3>
        </div>
        <input type="submit" class="mb-4 btn btn-danger" value="Delete" onclick="deleteProductCart('{{this.id}}')"></input>
        {{/each}}
        {{else}}
        <h2>This cart is empty.</h2>
        {{/if}}
    </div>
        <div id="botonChooseProducts" class="text-center mb-3">
            <a href="/api/products" class="mb-4 mt-5 btn btn-primary">Choose products</a>
        </div>
    <input type="submit" class="mb-4 btn btn-danger" value="Finish cart" onclick="purchaseCart()"></input>
    <form action="/api/logout" method="get" class="d-flex justify-content-center">
    <button class="mb-4 btn btn-danger" type="submit">Log out</button>
    </form>
    <input type="submit" class="mb-4 btn btn-info text-center" value="Clear cart" onclick="deleteAllProductCart()"></input>
    <div id="ticket"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>